/********** Template CSS **********/
:root {
    --primary: #FB5B21;
    --secondary: #BDBDBF;
    --light: #F4F5F8;
    --dark: #222429;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    font-size: inherit;
    margin-left: 0;
}

h1,
h2,
.font-weight-bold {
    font-weight: 700 !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3,
h4,
.font-weight-semi-bold {
    font-weight: 600 !important;
    font-family:'Lucida Sans';
}

h5,
h6,
.font-weight-medium {
    font-weight: 500 !important;
    font-family:'Lucida Sans';
}

.btn {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    transition: .5s;
}

.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 30px;
    height: 30px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 0;
    border-radius: 0;
    z-index: 99;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: 'Oswald', sans-serif;
    margin-right: 30px;
    padding: 40px 0;
    color: var(--light);
    font-size: 17px;
    text-transform: uppercase;
    outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(34, 36, 41, .8);
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h4 {
        font-size: 18px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

.bg-hero {
    background: linear-gradient(rgba(34, 36, 41, .8), rgba(34, 36, 41, .8)), url(../img/carousel-1.jpg) top center no-repeat;
    background-size: cover;
}

.programe::after {
    position :absolute;
    content: "";
    width: 100%;
    height: calc(100% - 45px);
    top: 135px;
    left: 0;
    background: var(--dark);
    z-index: -1;
}

.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.2);
}

.team-item .team-overlay {
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(34, 36, 41, .9);
    transition: .5s;
    opacity: 0;
}

.team-item:hover .team-overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: start;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next{
    position: relative;
    margin: 0 5px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    font-size: 22px;
    border-radius: 45px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}

.testimonial-carousel .owl-item img {
    width: 90px;
    height: 90px;
}

.blog-item img {
    transition: .5s;
}

.blog-item:hover img {
    transform: scale(1.2);
}

@media (min-width: 991.98px) {
    .credit {
        background: var(--primary);
    }
}


/* logos */

.img-logo1{
    height:80px;
    width:80px;
}
.img-logo{
    height:40px;
    width:40px;
}
.pre-img{
    height:250px;
    width:250px;
}
.img-wal1{
    height:250px;
    width:250px;
}
.img-wal2{
    height:250px;
    width:250px;
}

@media (orientation:portrait) and (min-width: 300px) {
    .pre-img{
        background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3jpdG5p0roEOp_9feM6PAhni13y-jd4B1vM2ZHRc1&s');
        height:150px;
        width:150px;
    }
}

.btn-g {
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    margin-right: 1rem;
    background-color:var(--primary);
    padding: 5px;
    border-radius: 3px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
} 
header{
    background-color: #eee;
    padding:1 rem;
}
header h1 {
    font-size: 2.5rem;
    line-height: 2;
    color: var(--color-primary);
}

form input {
    width: 20rem;
    padding: .7rem;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    border-bottom: 2px solid var(--color-sec);
    margin-bottom: 1rem;
} 



.flex-style{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:space-between;
}